## 01. Data Cleaning

In [34]:
import pandas as pd
import os

#### Exploramos el archivo excel y el nombre de las hojas para separar cada una en df distinto

In [10]:
file = '../data/retail_sales_dataset.xlsx'
excel_file = pd.ExcelFile(file)
print("Hojas disponibles:")
print(excel_file.sheet_names)

Hojas disponibles:
['Customers', 'Products', 'Stores', 'Transactions']

In [12]:
all_sheets = pd.read_excel(file, sheet_name=None)

df_customers  = all_sheets['Customers']
df_products   = all_sheets['Products']
df_stores   = all_sheets['Stores']
df_transactions = all_sheets['Transactions']

## 02 Vamos a analizar cada hoja y hacer limpieza previo a almacenarlo en csv separados para futuros an√°lisis.

In [25]:
print ("Analisis de customer sheet")
df_customers.info()
print(f"\n{'='*50}")

print("Primeras filas")
df_customers.head()

Analisis de customer sheet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  200 non-null    object
 1   FirstName   200 non-null    object
 2   LastName    200 non-null    object
 3   Gender      200 non-null    object
 4   BirthDate   200 non-null    datetime64[ns]
 5   City        200 non-null    object
 6   JoinDate    200 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 11.1+ KB

==================================================
Primeras filas

,CustomerID,FirstName,LastName,Gender,BirthDate,City,JoinDate
0,C001,Michael,Davis,M,1996-09-11,Osborneport,2022-09-25
1,C002,Michael,Miller,M,1959-08-18,New Gabrielleport,2020-11-03
2,C003,Carol,Hays,F,2005-04-19,Port Allen,2024-02-12
3,C004,Joseph,Ward,M,1992-06-16,East Edgarborough,2024-09-09
4,C005,Jamie,Salinas,M,1992-06-18,Port Kimberly,2022-02-24

In [26]:
print("Valores nulos")
df_customers.isnull().sum()

Valores nulos

CustomerID    0
FirstName     0
LastName      0
Gender        0
BirthDate     0
City          0
JoinDate      0
dtype: int64

In [27]:
print ("Analisis de products sheet")
df_products.info()
print(f"\n{'='*50}")

print("Primeras filas")
df_products.head()

Analisis de products sheet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     object
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
 3   SubCategory  50 non-null     object
 4   UnitPrice    50 non-null     float64
 5   CostPrice    50 non-null     float64
dtypes: float64(2), object(4)
memory usage: 2.5+ KB

==================================================
Primeras filas

,ProductID,ProductName,Category,SubCategory,UnitPrice,CostPrice
0,P001,Like Camera,Electronics,Camera,1673.69,1323.38
1,P002,Audience Television,Electronics,Television,818.76,527.62
2,P003,Here Footwear,Fashion,Footwear,337.63,169.03
3,P004,Four Accessories,Fashion,Accessories,1853.77,1363.52
4,P005,Knowledge Bags,Fashion,Bags,1396.22,1004.09

In [33]:
print("Valores nulos")
df_products.isnull().sum()

Valores nulos

ProductID      0
ProductName    0
Category       0
SubCategory    0
UnitPrice      0
CostPrice      0
dtype: int64

In [29]:
print ("Analisis de stores sheet")
df_stores.info()
print(f"\n{'='*50}")

print("Primeras filas")
df_stores.head()

Analisis de stores sheet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StoreID    5 non-null      object
 1   StoreName  5 non-null      object
 2   City       5 non-null      object
 3   Region     5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

==================================================
Primeras filas

  StoreID                StoreName            City Region
0    S001  MegaMart Jimenezborough  Jimenezborough  South
1    S002       MegaMart Peckmouth       Peckmouth   East
2    S003     MegaMart New Michele     New Michele   West
3    S004     MegaMart Brianahaven     Brianahaven  North
4    S005       MegaMart Johnmouth       Johnmouth   East

In [30]:
print("Valores nullos")
df_stores.isnull().sum()

Valores nullos

StoreID      0
StoreName    0
City         0
Region       0
dtype: int64

In [31]:
print ("Analisis de transactions sheet")
df_transactions.info()
print(f"\n{'='*50}")

print("Primeras filas")
df_transactions.head()

Analisis de transactions sheet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  5000 non-null   object
 1   Date           5000 non-null   datetime64[ns]
 2   CustomerID     5000 non-null   object
 3   ProductID      5000 non-null   object
 4   StoreID        5000 non-null   object
 5   Quantity       5000 non-null   int64
 6   Discount       5000 non-null   float64
 7   PaymentMethod  5000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 312.6+ KB

==================================================
Primeras filas

,TransactionID,Date,CustomerID,ProductID,StoreID,Quantity,Discount,PaymentMethod
0,T00001,2024-06-18,C160,P014,S003,1,0.10,Bank Transfer
1,T00002,2023-11-02,C171,P030,S004,3,0.15,Bank Transfer
2,T00003,2024-03-28,C142,P002,S002,2,0.15,Mobile Money
3,T00004,2024-06-15,C174,P050,S002,5,0.10,Mobile Money
4,T00005,2024-08-29,C141,P036,S001,3,0.10,Credit Card

In [32]:
print("Valores nullos")
df_transactions.isnull().sum()

Valores nullos

TransactionID    0
Date             0
CustomerID       0
ProductID        0
StoreID          0
Quantity         0
Discount         0
PaymentMethod    0
dtype: int64

#### Al no tener valores nulos procedemos a separar cada pd en un csv para reutilizar en otro notebook

In [35]:
for sheet_name in excel_file.sheet_names:
    df = pd.read_excel(excel_file, sheet_name=sheet_name)
    csv_filename = f'../data/{sheet_name}.csv'
    df.to_csv(csv_filename, index=False)
    print(f"‚úÖ Exportado: {sheet_name} ‚Üí {csv_filename}")

print("\n Todas las hojas han sido exportadas a CSV!")

‚úÖ Exportado: Customers ‚Üí ../data/Customers.csv
‚úÖ Exportado: Products ‚Üí ../data/Products.csv
‚úÖ Exportado: Stores ‚Üí ../data/Stores.csv
‚úÖ Exportado: Transactions ‚Üí ../data/Transactions.csv

 Todas las hojas han sido exportadas a CSV!